@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
body {
  margin: 0;
  padding: 0; }

nav {
  padding-bottom: 135px; }

.navbar-toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  z-index: 3; }

.fas {
  color: white; }

.navLinks {
  position: fixed;
  display: hidden;
  margin: 0;
  padding: 15px 15px 5px 15px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.722);
  transition: all .5s ease-in-out;
  top: -115px;
  border-radius: 0 0 5px 0; }
  .navLinks li {
    list-style-type: none;
    margin-bottom: 10px; }
    .navLinks li a {
      text-decoration: none;
      color: white;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      text-shadow: 1px 1px 2px #969696;
      letter-spacing: 2px; }

.active {
  top: 0;
  display: block; }

header {
  background-image: url(../images/greenWorm.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  display: flex;
  flex-direction: column; }
  header h1 {
    font-size: 34px;
    color: white;
    line-height: 1.765;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44); }
  header p {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: white;
    line-height: 1.429;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
    width: 250px;
    align-self: center; }
  header button {
    align-self: center;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    background-color: #cccccc;
    box-shadow: 0px 6px 6.65px 0.35px rgba(28, 30, 29, 0.44);
    width: 132px;
    height: 41px;
    margin-top: 20px;
    margin-bottom: 300px;
    font-family: "Lato", sans-serif;
    color: white; }

.ourTeam {
  background-color: #8ce3b7;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0; }
  .ourTeam Section {
    width: 50%;
    text-align: center;
    color: white; }
  .ourTeam h1 {
    font-size: 34px;
    color: white;
    line-height: 1.765;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 35px 0 35px 0;
    width: 100%; }
  .ourTeam h2, .ourTeam h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  .ourTeam p {
    width: 100px;
    margin: 0 auto;
    padding: 40px 0 125px 0;
    font-family: "Lato", sans-serif; }

.teamFace {
  height: 75px;
  widows: 82px;
  fill: white; }

.socialIcons {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 40px; }

.instaIcon, .gitIcon {
  width: 40px;
  height: 40px;
  float: left; }

#ourWork {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }
  #ourWork h1 {
    font-size: 34px;
    color: white;
    line-height: 1.765;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    width: 100%; }
  #ourWork h2 {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: white;
    line-height: 3.333;
    margin: 0 25px 0 0;
    padding: 0;
    align-self: flex-end; }
  #ourWork p {
    color: white;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .3px;
    padding-left: 11px;
    padding-right: 3px;
    padding-bottom: 25px;
    align-self: center;
    margin: 0; }
  #ourWork img {
    background-color: #cccccc;
    box-shadow: 0px 6px 6.65px 0.35px rgba(28, 30, 29, 0.44);
    width: 100%;
    height: auto;
    margin-bottom: 30px; }

.workDisplay {
  width: 90%;
  height: auto;
  align-self: center;
  position: relative; }
  .workDisplay button {
    position: absolute;
    border-width: 3px;
    border-color: #fbfbfb;
    border-style: solid;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: 0px 8px 8.3px 1.7px rgba(28, 30, 29, 0.45);
    width: 48px;
    height: 49px;
    top: 45%;
    left: 40%; }

#contact {
  background-color: #8ce3b7;
  background-image: url(../images/greenWorm.gif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }
  #contact h1 {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: white;
    line-height: 3.333;
    padding-top: 90px;
    padding-bottom: 30px;
    align-self: center; }
  #contact div {
    align-self: center;
    margin-bottom: 20px; }
  #contact label {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: 7px; }
  #contact input {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.322;
    box-shadow: 0px 8px 8.3px 1.7px rgba(28, 30, 29, 0.45);
    border: none;
    float: right;
    padding: 2px;
    width: 200px;
    height: 25px; }
  #contact textarea {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.322;
    box-shadow: 0px 8px 8.3px 1.7px rgba(28, 30, 29, 0.45);
    border: none;
    float: right;
    padding: 2px;
    width: 200px;
    height: 108px;
    margin-right: 15px; }

footer {
  display: flex;
  flex-direction: column;
  background-color: #8ce3b7; }
  footer ul {
    align-self: flex-end; }
    footer ul li {
      display: inline;
      list-style-type: none;
      margin-right: 10px;
      padding-bottom: 5px; }
      footer ul li a {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans-serif; }

@media screen and (min-width: 768px) {
  #mainNav {
    display: block; }
    #mainNav ul {
      display: flex;
      justify-content: flex-end; }
      #mainNav ul li {
        list-style: none;
        margin: 0; }
        #mainNav ul li a {
          margin-left: 40px;
          text-decoration: none; }

  .navbar-toggle {
    display: none; } }
@media screen and (min-width: 1023px) {
  nav {
    height: 67px;
    background-color: #8ce3b7;
    padding: 0; }

  .navLinks {
    display: block;
    position: unset;
    background-color: transparent;
    margin-right: 15px; }
    .navLinks li a {
      text-shadow: none;
      line-height: 33px; }

  header h1 {
    font-size: 59.517px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: white;
    line-height: 1.008;
    text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44); } }

/*# sourceMappingURL=main.css.map */
