@import '_vars';

// Body Tags
body{
    margin: 0;
    padding: 0;
}
// Main Navigation

nav{
    padding-bottom: 135px;
}

.navbar-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    z-index: 3;
}

.fas{
    color: white;
}

.navLinks{
    position: fixed;
    display: hidden;
    margin: 0;
    padding: 15px 15px 5px 15px;
    z-index: 5;
    background-color: rgba(255, 255, 255, .722); 
    transition: all .5s ease-in-out;
    top: -115px;
    border-radius: 0 0 5px 0;
    li{
        list-style-type: none;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            color: white;
            font-family: $secondary-font;
            font-weight: 600;
            text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
            letter-spacing: 2px;
        }

    }
}

.active{
    top: 0;
    display: block;
}


// End Main Navigation

// Header Section

header{
    @include wormBackGround;
    background-color: $primary-grey;
    display: flex;
    flex-direction: column;

    h1{
        @include mainHeader;
        font-family: $main-font;
        text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
    }

    p{         
        font-size: 14px;
        font-family: $secondary-font;
        color: rgb(255, 255, 255);
        line-height: 1.429;
        text-shadow: 0px 6px 6.65px rgba(28, 30, 29, 0.44);
        width: 250px;
        align-self: center;
    }

    button{
            align-self: center;
            border-width: 2px;
            border-color: rgb(255, 255, 255);
            border-style: solid;
            border-radius: 10px;
            background-color: rgb(204, 204, 204);
            box-shadow: 0px 6px 6.65px 0.35px rgba(28, 30, 29, 0.44);
            width: 132px;
            height: 41px;
            margin-top: 20px;
            margin-bottom: 300px;
            font-family: $secondary-font;
            color: white;
          }
}



// End Header Section

// Our Team Section
.ourTeam{
    background-color: $primary-green;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;

    Section{
        width: 50%;
        text-align: center;
        color: white;
    }

    h1{
        @include mainHeader;
        font-family: $main-font;
        padding: 35px 0 35px 0;
        width: 100%;
    }

    h2, h3{
        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
    }

    p{
        width: 100px;
        margin: 0 auto;
        padding: 40px 0 125px 0;
        font-family: $secondary-font;
    }

}

.teamFace{
    height: 75px;
    widows: 82px;
    fill: white;
}

.socialIcons{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 40px;
}

.instaIcon, .gitIcon{
    width: 40px;
    height: 40px;
    float: left;
}

// End Our Team Section

// Our Work Section

#ourWork{
    background-color: $primary-grey;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    h1{
        @include mainHeader;
        font-family: $main-font;
        width: 100%;
    }

    h2{
        font-size: 18px;
        font-family: $main-font;
        color: white;
        line-height: 3.333;
        margin: 0 25px 0 0;
        padding: 0;
        align-self: flex-end;
    }

    p{
        color: white;
        font-size: 14px;
        font-family: $secondary-font;
        font-weight: 400;
        line-height: 1.2; 
        letter-spacing: .3px;
        padding-left: 11px;
        padding-right: 3px;
        padding-bottom: 25px;
        align-self: center;
    }

    img{
        background-color: rgb(204, 204, 204);
        box-shadow: 0px 6px 6.65px 0.35px rgba(28, 30, 29, 0.44);
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}


    .workDisplay{
        width: 90%;
        height: auto;
        align-self: center;
        position: relative;
            
        button{
            position: absolute;
            border-width: 3px;
            border-color: rgb(251, 251, 251);
            border-style: solid;
            border-radius: 50%;
            background-color: rgb(204, 204, 204);
            box-shadow: 0px 8px 8.3px 1.7px rgba(28, 30, 29, 0.45);
            width: 48px;
            height: 49px;
            top: 45%;
            left: 40%;
        }
    }
// End Our Work Section

// Contact Sections
#contact{
    background-color: $primary-green;
    @include wormBackGround;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    h1{
        font-size: 18px;
        font-family: $main-font;
        color: white;
        line-height: 3.333;
        padding-top: 90px;
        padding-bottom: 30px;
        align-self: center;
    }

    div{
        align-self: center;
        margin-bottom: 20px;
    }

    label{
        display: block;
        font-size: 14px;
        font-family: $main-font;
        color: white;
        float: right;
        margin-right: 10px;
        margin-top: 7px;
    }

    input{
        @include inputArea;
        width: 200px;
        height: 25px;   
    }

    textarea{
        @include inputArea;
        width: 200px;
        height: 108px;
        margin-right: 15px;
    }
}

// End Contact Section

// Footer Section
footer{
    display: flex;
    flex-direction: column;
    background-color: $primary-green;
    ul{
        align-self: flex-end;
        li{
            display: inline;
            list-style-type: none;
            margin-right: 10px;
            padding-bottom: 5px;
            a{
                text-decoration: none;
                color: white;
                font-family: $main-font;
            }
        }
    }
}


// End Footer Section

@media screen and (min-width: 768px) {
    #mainNav {
        display: block;

        ul{
            display: flex;
            justify-content: flex-end;

            li{
                list-style: none;
                margin: 0;

                a{
                    margin-left: 40px;
                    text-decoration: none;
                }
            }
        }
    }

    .navbar-toggle{
        display: none;
    }
}